doctype html
head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
  meta(name='description', content='GulpUI - Simple Gulp App for Front End Development')
  meta(name='author', content='Fahim Shani')
  meta(name='keyword', content='Bootstrap,Admin,Template,Open,Source,jQuery,CSS,HTML,RWD,Dashboard')
  title GulpUI
  // Icons
  //- link(type='text/css', rel='stylesheet', href='/node_modules/font-awesome/css/font-awesome.min.css')
  // Bulma Framework Style
  //- link(type='text/css', rel='stylesheet', href='css/bulma/bulma.css')
  // Main styles for this application
  link(type='text/css', rel='stylesheet', href='css/style.css')
