header.app-header.container.app
  nav.navbar(role='navigation', aria-label='main navigation')
    .navbar-brand
      a.navbar-item(href='https://bulma.io')
        img(src='./imgs/headerLogoBankABC.png', width='125', height='')
    .navbar-menu
      .navbar-item
        .buttons
          a.button.is-primary(href='#' class=lang ? 'show' : 'hide')
            |  Language
          a.button.is-light(href='#' class=cardReturn ? 'show' : 'hide')
            |  Cancel & Retrun Card
