header.app-header.container.app
  nav.navbar(role='navigation', aria-label='main navigation')
    .navbar-brand
      a.navbar-item(href='https://bulma.io')
        img(src='https://bulma.io/images/bulma-logo.png', width='112', height='28')
    #navbarBasicExample.navbar-menu
      .navbar-end
        .navbar-item
          .buttons
            a.button.is-primary
              strong Sign up
            a.button.is-light
              | Log in
